.title{
    text-align: center;
    margin-top: 5px;
    margin: 70px 0 30px;
    
}
.heading-title{
    font-size: 32px;
}


.subTitle{
    text-align: center;
    margin-top: 5px;
    margin: 70px 0 30px;
    color: #c7b4b4;
}