/* Basic styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.design-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.design-card {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.design-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.design-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.estimate-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.estimate-button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.estimate-button:focus,
.close-button:focus {
  outline: 2px solid #3498db;
}

/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-width: 600px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.modal-content:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.modal-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow: hidden;
}

.modal-image {
  max-width: 100%;
  max-height: 400px;
  border-radius: 8px;
}

.modal-description {
  margin-top: 20px;
}

.close-button {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #f1f1f1;
  border-radius: 50%;
  color: #e74c3c;
}
