.container1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 5%;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .header p {
    color: #666;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn1 {
    width: 100%;
    padding: 10px;
    background-color: #54637a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s;
  }
  
  .btn1:hover {
    transform: scale(1.03);
    background-color: #4c4c57;
  }
  
  .suggestion-box {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(233, 233, 233);
    color: rgb(53, 53, 75);
    border: 1px solid #c5e1a5;
    border-radius: 4px;
  }
