
/* .container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9fafb;
} */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://img.freepik.com/premium-photo/grey-watercolour-texture-background-abstract-art-paint-gradient-design_41691-6733.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  gap: 16px;
  color: #1f2937;
} */

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 400px;
  gap: 16px;
  color: #1f2937;
  background: rgba(255, 255, 255, 0.8); /* Add a translucent white background for better readability */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-family: 'Prata', serif;
  font-size: 24px;
  text-align: center;
}

.separator {
  border: none;
  height: 2px;
  width: 32px;
  background-color: #1f2937;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #1f2937;
  border-radius: 8px;
}

.footer-login {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin-top: 8px;
}

.link {
  font-size: small;
  cursor: pointer;
  color: #1f2937;
  text-decoration: none;

}

.button-login {
  background-color: #000;
  color: #fff;
  font-weight: 300;
  padding: 15px 45px;
  margin-top: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.button:hover {
  opacity: 0.9;
}


.password-container {
  
  position: relative;
  width: 100%;
}

.input {
 
  width: 100%;
  padding: 12px;
  padding-right: 40px; /* Add space for the eye icon */
  border: 1px solid #1f2937;
  border-radius: 8px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-90%);
  font-size: 18px;
  cursor: pointer;
  color: #1f2937;
}

.footer-login{
  display: flex;
  justify-content: center;
  align-items: center;
}