@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-padding-top: 84px; /* Adjust this value based on your navbar's height */
  scroll-behavior: smooth; /* Optional for smooth scrolling */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

body {
  background-color: #f5f5f5;
}

a {
  cursor: pointer;
}

/* .container{
    padding-left: 5%;
    padding-right: 5%;
} */

.back-button {
  background-color: #1acf4b;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.back-button-container {
  padding-top: 10px;
  padding-left: 10px;
}

html,
body {
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Chatbot css */
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: rgb(90, 90, 134);
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
#chatbot-toggler span {
  position: absolute;
  color: white;
}
.bot-container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}
#chatbot-toggler span:last-child,
.bot-container.show-chatbot #chatbot-toggler span:first-child {
  opacity: 0;
}
.bot-container.show-chatbot #chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  height: 480px;
  width: 349px;
  transform: scale(0.2);
  overflow: hidden;
  background: white;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
.bot-container.show-chatbot .chatbot-popup {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  background: rgb(70, 72, 90);
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: rgb(70, 72, 90);
  flex-shrink: 0;
  background: white;
  border-radius: 50%;
}
.header-info .logo-text {
  color: white;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  margin-right: -10px;
  background: rgb(70, 72, 90);
  border-radius: 50%;
}
.chat-header button:hover {
  background: rgb(46, 48, 63);
}
.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 330px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: rgb(180, 182, 194) transparent;
}
.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .message.error .message-text {
  color: red;
}
.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: rgb(70, 72, 90);
  flex-shrink: 0;
  align-self: flex-end;
  margin-bottom: 2px;
  background: white;
  border-radius: 50%;
}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 15px;
}
.chat-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text {
  color: white;
  background: rgb(70, 72, 90);
  border-radius: 13px 13px 3px 13px;
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  outline: 1px solid #cccce5;
  border-radius: 32px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid rgb(70, 72, 90);
}
.chat-form .message-inputchat {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 45px;
  padding: 0 54px 0 17px;
  font-size: 15px;
}

.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 1.15rem;
  color: #fff;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: rgb(70, 72, 90);
  transition: 0.2s ease;
}
.chat-form button:hover {
  background: rgb(46, 48, 63);
}

/* For mobile devices */
@media (max-width: 480px) {
  #chatbot-toggler {
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
  }
  .chatbot-popup {
    bottom: 70px;
    right: 10px;
    height: 350px;
    width: 280px;
  }
  .chat-header {
    padding: 12px 18px;
  }
  .chat-header .header-info .logo-text {
    font-size: 1rem;
  }
  .chat-body {
    height: 330px;
    padding: 15px;
    gap: 15px;
  }
  .chat-footer {
    padding: 10px 15px 12px;
  }
  .chat-form .message-input {
    height: 38px;
    font-size: 13px;
    padding: 0 12px;
  }
  .chat-form button {
    height: 28px;
    width: 28px;
    font-size: 1rem;
  }
}
