.Professional{
    max-width: 1000px;
    width: 100%;
    margin: 80px auto;
    margin-top: 50px;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.back-btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 470%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.heading{
    margin-left: 50px;
}
.slide{
    box-shadow: 0 0 20px rgba(25, 31, 52, 0.3);
    padding: 40px;
    border-radius: 10px;
    color: black;
}
.slide img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 20px rgba(25, 31, 52, 0.3);
    object-fit: cover;
}
.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 26px;
    color: #014f86;
}
p{
    font-size: 18px;
}
i{
    color: rgb(255, 217, 3);
}
i, .rating{
    display: inline;
}
.rating{
    margin-left: 15px;
    font-weight: bold;
}